.nav-item{
	margin-left: 15px;
}
body{
	background-color: #000000;
	height: 2800px;
}
html{
  scroll-behavior: smooth;
}
#telegram:hover{
	cursor: pointer;
}
#instagram:hover{
	cursor: pointer;
}
#facebook:hover{
	cursor: pointer;
}
#vk:hover{
	cursor: pointer;
}